<nav>
    <div>
        <a href="/" class="logo"><p>Blog Post</p></a>
        <p class="logo-description">Home of your latest info</p>
    </div>
    <ul class="nav-links">
        <li><a href="/">Blogs</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs/create">New Blog</a></li>
    </ul>
</nav>
