<!DOCTYPE html>
<html lang="en">
<%- include('header') -%>
<body>
    <%- include('nav') -%>
    <div class="display">
        <h3>My story</h3>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto repellendus itaque ducimus exercitationem ratione cum quibusdam rerum amet commodi, reprehenderit non iusto eligendi, ipsa dolorum ut aut iure libero, velit enim perferendis possimus. Voluptatibus ratione adipisci, amet optio ullam repudiandae quis rem qui dolor, atque, commodi eum eveniet asperiores. Ullam!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio, facilis provident fuga hic vitae nemo amet, saepe commodi esse enim eligendi quae iure non aperiam a! Tempore eum, quae iure facilis veniam rem sequi blanditiis consequatur minus sed, optio dolorem officiis non nam quos dolores fugit labore fugiat. Cum eos itaque ratione beatae doloribus illum quos, accusantium possimus voluptate, amet tempora quaerat aspernatur minus sapiente repellat distinctio dolorem eligendi quae.</p>
    </div>
    <%- include('footer') -%>
</body>
</html>